<<<<<<< HEAD
.options-section{
    display: flex;
    flex-direction:row;
    align-items: center;
}
>>>>>>> 16218cf2dcc5db8da18f47a9c452c2662da255d8
.option{
    display: flex;
    flex-direction: column;
    align-items: center;
}
